.tasks-page {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  
}


.tasks-container {
  padding: 30px;
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  justify-content: center;
  gap: 60px; /* espaço entre os cards */
  padding-top: 10px;
}
